html {
    scroll-behavior: smooth;
    scroll-padding-top: -6rem;
}
.box-sh:hover{
    transition:500ms all ;
 }
 .box-sh:hover{
     box-shadow: 0px 4px 7px 0px rgba(255, 255, 255, 0.52);
 }
 .det-trans{
     transition:500ms all ;
 }
